<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>HI. WE’RE ANT SOLUTION.</h3>
                <h1>WE LIVE AND BREATHE CODE.</h1>
                <h5>We're a small team of developers who are passionate about crafting great software.</h5>
                <h5>We're some of the faces behind React.js, NodeJS, MongoDb and more.</h5>
                <h5>We're here to help you build the products and tools of the future.</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->